@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #660000;
    --foreground: #FFFDFD;

    --muted: #874444;
    --muted-foreground: #844646;

    --popover: #ffffff;
    --popover-foreground: #660000;

    --border: #FFFDFD;
    --input: #FFFDFD;

    --card: #ffffff;
    --card-foreground: #660000;

    --primary: #660000;
    --primary-foreground: #FCF7F7;

    --secondary: #FAF2F2;
    --secondary-foreground: #660000;

    --accent: #FAF2F2;
    --accent-foreground: #660000;

    --destructive: #0037FF;
    --destructive-foreground: #FCF7F7;

    --ring: #B89393;

    --radius: 0.5rem;
  }

  .dark {
    --background: #120303;
    --foreground: #F0E1E1;

    --muted: #290F0F;
    --muted-foreground: #A37F7F;

    --accent: #400505;
    --accent-foreground: #FCF7F7;

    --popover: #120303;
    --popover-foreground: #B89393;

    --border: #400505;
    --input: #400505;

    --card: #120303;
    --card-foreground: #F0E1E1;

    --primary: #FCF7F7;
    --primary-foreground: #050202;

    --secondary: #660000;
    --secondary-foreground: #FCF7F7;

    --destructive: #0037FF;
    --destructive-foreground: #FCF7F7;

    --ring: #400505;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
