@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define custom fonts using @font-face */
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Light.woff2') format('woff2'),
         url('/fonts/LEMONMILK-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Regular.woff2') format('woff2'),
         url('/fonts/LEMONMILK-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Medium.woff2') format('woff2'),
         url('/fonts/LEMONMILK-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Bold.woff2') format('woff2'),
         url('/fonts/LEMONMILK-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-LightItalic.woff2') format('woff2'),
         url('/fonts/LEMONMILK-LightItalic.woff') format('woff');
    font-weight: 300; /* Light Italic */
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-RegularItalic.woff2') format('woff2'),
         url('/fonts/LEMONMILK-RegularItalic.woff') format('woff');
    font-weight: 400; /* Regular Italic */
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-MediumItalic.woff2') format('woff2'),
         url('/fonts/LEMONMILK-MediumItalic.woff') format('woff');
    font-weight: 500; /* Medium Italic */
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-BoldItalic.woff2') format('woff2'),
         url('/fonts/LEMONMILK-BoldItalic.woff') format('woff');
    font-weight: 700; /* Bold Italic */
    font-style: italic;
    font-display: swap;
  }
  
  /* Apply the LEMONMILK font to the entire page */
  body {
    font-family: 'LEMONMILK', sans-serif;
  }
  
  

  :root {
    --background: 0, 100%, 100%;
    --foreground: 0, 100%, 20%;

    --muted: 0, 31.37%, 40%;
    --muted-foreground: 0, 31%, 40%;

    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 100%, 100%;

    --border: 0, 100%, 100%;
    --input: 0, 100%, 100%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 100%, 20%;

    --primary: 0, 100%, 20%;
    --primary-foreground: 0, 45.45%, 97.84%;

    --secondary: 0, 44.44%, 96.47%;
    --secondary-foreground: 0, 100%, 20%;

    --accent: 0, 44.44%, 96.47%;
    --accent-foreground: 0, 100%, 20%;

    --destructive: 227.06, 100%, 50%;
    --destructive-foreground: 0, 45.45%, 97.84%;

    --ring: 0, 20.67%, 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 71.43%, 4.12%;
    --foreground: 0, 33.33%, 91.18%;

    --muted: 0, 46.43%, 10.98%;
    --muted-foreground: 0, 16.36%, 56.86%;

    --accent: 0, 85.51%, 13.53%;
    --accent-foreground: 0, 45.45%, 97.84%;

    --popover: 0, 71.43%, 4.12%;
    --popover-foreground: 0, 20.67%, 64.9%;

    --border: 0, 85.51%, 13.53%;
    --input: 0, 85.51%, 13.53%;

    --card: 0, 33.33%, 91.18%; /* Corrected double %% */
    --card-foreground: 0, 71.43%, 4.12%; /* Corrected double %% */

    --primary: 0, 45.45%, 97.84%;
    --primary-foreground: 0, 42.86%, 1.37%;

    --secondary: 0, 100%, 20%;
    --secondary-foreground: 0, 45.45%, 97.84%;

    --destructive: 227.06, 100%, 50%;
    --destructive-foreground: 0, 45.45%, 97.84%;

    --ring: 0, 85.51%, 13.53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'LEMONMILK', sans-serif; /* Apply the custom font globally */
  }
}
