@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 100%, 100%;
    --foreground: 0, 100%, 20%;

    --muted: 0, 31.37%, 40%;
    --muted-foreground: 0, 31%, 40%;

    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 100%, 100%;

    --border: 0, 100%, 100%;
    --input: 0, 100%, 100%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 100%, 20%;

    --primary: 0, 100%, 20%;
    --primary-foreground: 0, 45.45%, 97.84%;

    --secondary: 0, 44.44%, 96.47%;
    --secondary-foreground: 0, 100%, 20%;

    --accent: 0, 44.44%, 96.47%;
    --accent-foreground: 0, 100%, 20%;

    --destructive: 227.06, 100%, 50%;
    --destructive-foreground: 0, 45.45%, 97.84%;

    --ring: 0, 20.67%, 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 71.43%, 4.12%;
    --foreground: 0, 33.33%, 91.18%;

    --muted: 0, 46.43%, 10.98%;
    --muted-foreground: 0, 16.36%, 56.86%;

    --accent: 0, 85.51%, 13.53%;
    --accent-foreground: 0, 45.45%, 97.84%;

    --popover: 0, 71.43%, 4.12%;
    --popover-foreground: 0, 20.67%, 64.9%;

    --border: 0, 85.51%, 13.53%;
    --input: 0, 85.51%, 13.53%;

    --card: 0, 33.33%, 91.18%%;
    --card-foreground: 0, 71.43%%, 4.12%;

    --primary: 0, 45.45%, 97.84%;
    --primary-foreground: 0, 42.86%, 1.37%;

    --secondary: 0, 100%, 20%;
    --secondary-foreground: 0, 45.45%, 97.84%;

    --destructive: 227.06, 100%, 50%;
    --destructive-foreground: 0, 45.45%, 97.84%;

    --ring: 0, 85.51%, 13.53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
